admin/müll/index3.php
admin/müll/index2.php
admin/müll/index4.php
admin/müll/
node_modules/
admin/statistics11.php

/package-lock.json
/mix-manifest.json
/bun.lockb
dist/
admin/dashboard4.php
backend/database/DatabaseUtil-alex.php
backend/config.php
