@tailwind base
@tailwind components
@tailwind utilities

.employee-container, .projects-container
    padding: 2rem
    .employee-header, .projects-header
        @apply flex items-center justify-between
        p
            @apply text-black font-semibold
        h1 
            @apply text-xl text-[#F7CD45]
        .title 
            @apply text-left text-2xl leading-6
        .description 
            @apply mt-2 text-sm text-black
        .add-employee-btn, .add-project-btn
            @apply bg-secondary text-white
            transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out
            display: inline-flex
            justify-content: end
            border-radius: 50px
            cursor: pointer
            padding: 0.5rem 1rem
            font-size: 16px
            margin-top: -2px
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.4)
            &:hover 
                box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12)
    .employee-main-container, .projects-main-container
        @apply p-6 bg-white rounded-[20px]
    .employee-table-wrapper, .projects-table-wrapper
        @apply inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8
        table 
            @apply min-w-full divide-primary divide-y-[3]
        .table-head-search 
            .search-box 
                @apply relative flex items-center w-full h-8 rounded-full shadow-md focus-within:shadow-lg bg-white overflow-hidden
                @apply transition-all duration-300 ease-in-out
                .search-icon 
                    @apply grid place-items-center h-full w-12 text-gray-300
                input 
                    @apply h-full w-full outline-none text-sm text-gray-700 pr-2
        .table-head-titles 
            th 
                @apply py-3.5 pl-2 text-left text-sm font-semibold text-black
        #tableBody 
            @apply divide-y divide-secondary
            .employee-number
                @apply hover:text-primary
            .employee-mail
                @apply hover:text-primary
            td 
                font-weight: 500
                @apply whitespace-nowrap text-base text-secondary py-3
.admin-top-bar 
    transition: background-color 0.3s ease-in-out
    box-shadow: 0 10px 13px -7px #000000
    align-items: center
    padding: 1rem 2rem
    color: #fff
    background: #fff
    justify-content: space-between
    display: flex
    .col-left 
        flex: 1
        display: flex
        justify-content: center
        align-items: center
    .col-middle 
        flex: 2
    .col-right 
        flex: 1
        display: flex
        justify-content: flex-end
        gap: 1rem
        * 
            max-height: 40px
    .employee-name 
        justify-content: center
        font-weight: 600
        margin-right: 1rem
        color: #000
        display: inline-block
        padding-bottom: 2px
        background-image: linear-gradient(#F3D046 0 0)
        background-position: 0 100% /*OR bottom left*/
        background-size: 0 2px
        background-repeat: no-repeat
        transition: background-size 0.3s, background-position 0s 0.3s
        /*change after the size immediately*/
        &:hover 
            background-position: 100% 100% /*OR bottom right*/
            background-size: 100% 2px
    .employee-number 
        @apply text-black font-semibold
    .employee-view-btn, .logout-btn 
        transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out
        display: inline-flex
        justify-content: end
        border-radius: 50px
        cursor: pointer
        padding: 0.5rem 1rem
        font-size: 16px
        color: #000
        box-shadow:  0 2px 4px -1px rgba(0, 0, 0, 0.4)
        &:hover 
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12)
        i 
            font-size: 24px
    .logout-btn 
        margin-top: -2px
.dark-mode 
    body 
        @apply bg-[#2E2E2E] text-black
    .employee-container, .projects-container
        background: #2E2E2E
        .employee-main-container, .projects-main-container
            background: #202020
        .employee-header, .projects-header
            .title 
                @apply text-primary
            .description 
                @apply text-normal
            .add-employee-btn, .add-project-btn
                @apply bg-black text-normal
        .employee-table-wrapper, .projects-table-wrapper
            .table-head-titles 
                th 
                    @apply text-white
            #tableBody 
                @apply divide-normal
                td 
                    @apply text-gray-300
    .admin-top-bar 
        @apply text-white bg-[#202020]
        .employee-name, .employee-number 
            color: #cdcdcd
        .employee-view-btn, .logout-btn 
            @apply text-white bg-black
